body{
    padding: 0px;
    margin: 0px;
    height: 20000px;
    background-image: url('https://archive-media-1.nyafuu.org/wg/image/1519/83/1519835596717.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto;
}

#backToTop{
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-align: center;
    display: none;
    border: 3px solid black;
    background-color: teal;
}
#backToTop:hover{
    cursor: pointer;
    opacity: 0.8;
}

#navbar{
    background-color: #0072c2;
    height: 200px;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;

}

#video > iframe{
    width: 100%;
    height: 1080px;
    filter: brightness(50%);
}

#logo{
     float: left;
}

#links{
    float: right;

}

.shortcut{
    margin-right: 10px;
    opacity: 0.5;
}

.shortcut:hover{
    opacity: 1;
}